.button {
    background-color: var(--primary-color);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    margin: 32px 0;
}

.button:hover {
    color: var(--button-hover-color);
}