.footer {
    background: var(--primary-color);
    color: var(--color-white);
    padding: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}